/* Events Sign Up */

.event-registration-container {
    align-items: start;
    background-color:#E8EFFC;
    color: #6474ed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 100%;
    height: 100%;
}
.section-header{
    color: #ED6495;
    font-size: 27px;
    margin: 20px;
}
.question-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* margin-left: 8px; */
}
.bi-question-circle{
    fill: #A4C1F4;
    height: 40px;
    margin-left: 5px;
    margin-top: 16px;
    width: 30px;
    align-items: center;
}
.bi-question-circle:hover{
   fill: black;
}
.why-this-form {
    background-color: #ffffff25;
    cursor: help;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}

.registration-form{
    color: #A4C1F4;
    /* display: flex; */
    text-align: start;
    /* width: 80%; */
}
.registration-form input, 
.registration-form textarea {
    background-color: #A4C1F4;
    border: 2px solid #6474ed;
    padding: 10px;
    margin: 5px;
    width: 80%;
    height: auto;
    margin-left: 15%;
    box-sizing: border-box;
    resize: vertical;
    /* display: inline; */
}

.registration-form label{
    /* color: #ffffff; */
    color: black;
    font-size: 22px;
    margin-left: 10%;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.clothing-sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -5px;
}


.size input {
    width: 40px;
    height: 30px;
}

.size label {
    display: block;
    text-align: center;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;

  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.intro-container {
    display: flex;
    /* align-items: center; */
}
.rules-container2{
    color:#276BE5;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.rules-h3{
    color:#276BE5;
    font-weight: 500;
    margin: 1 1 5px 1;
}

.click-here{
    cursor: pointer;
}
.rules-every{
    font-weight: 700;
    text-decoration: underline;
}
.rules-not{
    color:#276BE5;
    font-weight: 700;
    text-decoration:underline;
}
.rules{
    color:#000;
    cursor:default;
    font-size: 20px;
    list-style: decimal;
    margin-left: 40px;
    max-width: 80%;
    /* text-indent: 20px; */
}
.terms-container{
    align-items: start;
    display: inline-block;
    /* justify-content: start; */
    /* margin-left: 80px; */
    margin-bottom: 10px;
    /* vertical-align: top; */

}
#terms-checkbox{
    height: 20px;
    /* margin: 0px; */
    /* padding: 10px; */
    /* vertical-align: top; */
    width: 20px;
}
#terms-text{
    color: #000000;
    font-weight: 500;
}

.confirm {
    font-size: 20px;
    border: 2px solid #FFFAEB;
    border-radius: 30px;
    padding: 10px 20px;
    width: auto;
}

.conclusion{
    font-size: 20px;
    margin: 20px 2px 20px 2px;

}
@media screen and (max-width: 800px) {

}




/* 
        BRAND COLORS
#276BE5-main color - bright blue - 15.3% red, 35.7% green and 89.8% blue.
#6474ED-button color - soft blue - 39.2% red, 45.5% green and 92.9% blue
#A4C1F4-other color - very soft blue - 64.3% red, 75.7% green and 95.7% blue. 
#E8EFFC-background color - light grayish blue - 91% red, 93.7% green and 98.8% blue. 
#ED6495-accent color - soft pink - 92.9% red, 39.2% green and 58.4% blue.
*/

